<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<mapping class="xyz.work.security.model.LogOper"></mapping>
		<mapping class="xyz.work.security.model.SecurityApi"></mapping>
		<mapping class="xyz.work.security.model.SecurityFunction"></mapping>
		<mapping class="xyz.work.security.model.SecurityLogin"></mapping>
		<mapping class="xyz.work.security.model.SecurityPosition"></mapping>
		<mapping class="xyz.work.security.model.SecurityPositionButton"></mapping>
		<mapping class="xyz.work.security.model.SecurityUser"></mapping>
		<mapping class="xyz.work.security.model.TokenInfo"></mapping>
		<mapping class="xyz.work.security.model.Possessor"></mapping>
		<mapping class="xyz.work.security.model.Possessor_Relate"></mapping>
		
		<mapping class="xyz.work.security.model.UserOper"></mapping>
				
		<mapping class="xyz.work.security.model.SystemContent"></mapping>
		
		
		<!-- 客户 -->
		<mapping class="xyz.work.custom.model.Customer"></mapping>
		<mapping class="xyz.work.custom.model.BizSecurityLogin"></mapping>
		<mapping class="xyz.work.custom.model.UserTag"></mapping>
		
		<mapping class="xyz.work.truck.model.Truck"></mapping>
		<mapping class="xyz.work.truck.model.View"></mapping>
		<mapping class="xyz.work.truck.model.Collect"></mapping>
		
		
		
	</session-factory>
</hibernate-configuration>